body {
    margin: 0;
    padding: 0;
    background-color: #620f09;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
    justify-content: center;
}

#board {
    background-image: url("../images/palace.jpg");
    width: 768px;
    height: 512px;
    position: relative;
    overflow: hidden;
}

.static-arrows {
    position: absolute;
}

.moving-arrows {
    position: absolute;
}